upstream web_backend {
	server 172.16.10.5;
	server 172.16.10.6;
}

server {
	listen 80;
	
	location / {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_pass http://web_backend;
	}
}
